    /* body {background-color: blueviolet;} */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

.logo h2{font-size: 42px;
font-weight: 900;}  


.color-orange{color: #FD6E0A;}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    .btn{background-color: #FD6E0A;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 18px 35px;
        font-size: bolder;
    }

}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    /* border: solid 1px red; */
}
nav .nav-links{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .nav-links a{
    text-decoration: none;
color: black;
}