    /* body {background-color: blueviolet;} */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .font-open-sans {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;

    }

    .text-center {
        text-align: center;
    }
     .btn {
            background-color: #FD6E0A;
            border: none;
            border-radius: 5px;
            color: white;
            padding: 18px 35px;
            font-size: bolder;
            cursor: pointer;
        }


    .logo h2 {
        font-size: 42px;
        font-weight: 900;
    }
    .color-orange {
        color: #FD6E0A;
    }

    header {
        background-color: #FFF8F3;
        padding-top: 50px;
        background: url(../images/developer.png),
            url(../images/header_bg.png), #FFF8F3;
        background-position: top left, bottom right;
        background-repeat: no-repeat, no-repeat;

       

        /* .section-heading{
            max-width: 827px;
            text-align: center; 
        }
        .section-heading h2{
            font-size: 35px;
            font-weight: bold;
            color: #db6666;
            margin-bottom: 30px;
        }
        .section-heading p{ font-size: 18px;
            margin-bottom: 30px;
        } */


        nav {
            width: 71%;
            max-width: 1140px;
            margin: 0px auto;
            display: flex;
            justify-content: space-between;
            /* border: solid 1px red; */
        }

        nav .nav-links {
            display: flex;
            list-style: none;
            gap: 51px;
            align-items: center;
        }

        nav .nav-links a {
            text-decoration: none;
            color: black;
        }

        #hero {
            margin: 47px 38px 0px 230px;
            /* border: solid 1px blue; */
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #hero .hero-content {
            max-width: 585px;
        }

        #hero .hero-content h2 {

            font-size: 45px;
            font-weight: 600;
            color: #474747;
            margin-bottom: 5px;
        }

        #hero .hero-content h1 {
            font-size: 85px;
            font-weight: bold;
            color: #181818;
            margin-bottom: 20px;
        }

        #hero .hero-content p {
            font-size: 18px;
            color: #474747;
            line-height: 30px;
            margin-bottom: 30px;
        }

        #hero .hero-image img {
            max-width: 585px;
            vertical-align: middle;
        }

        #hero .hero-content a {
            text-decoration: none;
        }
    }

    #about {
        margin-top: 130px;
    }

    #about .about-container {
        max-width: 1140px;
        width: 71%;
        margin: 0px auto;
        text-align: center;
        background-color: #FFF8F3;
        padding: 131px 156px;
    }

    #about .about-container .about-info {
        display: flex;
        justify-content: space-around;
    }

    .about-info .info-card p {
        font-size: 18px;
        line-height: 30px;
        color: #757575;
    }

    #about .section-heading {
        max-width: 827px;
        text-align: center;
    }

    #about .section-heading h2 {
        font-size: 35px;
        font-weight: bold;
        color: #181818;
        margin-bottom: 30px;
    }

    #about .section-heading p {
        font-size: 18px;
        margin-bottom: 30px;
        line-height: 30px;
        color: #757575;

    }

    #skills,
    #skills,
    #resume {
        padding-top: 130px;
    }

    #skills .skills-container {
        width: 71%;
        max-width: 1140px;
        margin: 0px auto;
    }

    #skills .section-heading {
        max-width: 827px;
        text-align: center;
        margin: 0px auto;
    }

    #skills .section-heading h2 {
        font-size: 35px;
        font-weight: bold;
        color: #181818;
        margin-bottom: 30px;
    }

    #skills .section-heading p {
        font-size: 18px;
        margin-bottom: 30px;
        line-height: 30px;
        color: #757575;
    }

    #skills .skills-container .skills-list {
        display: flex;
        gap: 24px;
    }

    .skills-list .skill-card {
        padding: 30px;
        /* border: solid 1px #E0E0E0 ;  */
        max-width: 267px;
        box-shadow: 0 6px 50px 0px #00000026;


    }

    .skill-card img {
        margin-bottom: 30px;
        max-width: 44px;

    }

    .skill-card h3 {
        font-size: 20px;
        color: #181818;
        margin-bottom: 20px;
    }

    .skill-card p {
        font-size: 18px;
        color: #757575;
        line-height: 28px;

    }

    #resume .section-heading {
        max-width: 827px;
        text-align: center;
        margin: 0px auto;
    }

    #resume .resume-container {
        width: 71%;
        max-width: 1140px;
        margin: 113px auto 0;
        display: flex;
        gap: 24px;
    }

    #resume .resume-container .section-title {
        color: #474747;
        font-size: 30px;
        margin-bottom: 30px;
    }

    .resume-card {
        max-width: 511px;
        margin-right: 47px;
    }

    .resume-card .card-title {
        font-size: 25px;
        font-weight: bold;
        color: #474747;
        margin-bottom: 10px;
    }

    .resume-card .card-info {
        font-size: 20px;
        font-weight: 600;
        color: #757575;
    }

    .resume-card .card-text {
        font-size: 16px;
        line-height: 28px;
        color: #757575;
        

    }

    .resume-container hr {
        margin: 30px 0;

    }